html, body {
    margin: 0;
    font-family: "Verdana";
}

footer{
    height: 60px;
    text-align: center;
}

@media (min-width: 768px) {
    body{
        padding-bottom: 60px;
    }
    footer{
        width:100%;
        position: fixed;
        bottom: 0;
    }
}